.formList {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  --form-input-width: 120px;
  * {
    box-sizing: border-box;
  }

  .formTitle {
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    padding: 0 8px;
  }
  .formTitleRight {
    float: right;
  }
  .formArr {
    padding: 0 10px 10px 10px;

    border-bottom: var(--form-border);
  }
  .formItem {
    display: flex;
    min-height: 40px;
    align-items: center;
  }
  .formLabel {
    display: inline-block;
    width: var(--form-input-width);
    padding-left: 8px;
  }
  .formInput {
    display: inline-block;
    width: calc(100% - var(--form-input-width));
    padding-right: 8px;
  }
  .formListNext {
    padding-left: 20px;
  }
  .formChild {
    margin-left: 15px;
    padding-left: 10px;
    border-left: var(--form-border);

    .formInput {
      display: inline-block;
      width: calc(100% - var(--form-input-width));
    }
  }
}
