body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 12px;
}

#root {
  background-color: #2c2c3e;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
}
.chartContent {
  flex: 1;
}
.rightPanel {
  width: 350px;
}
